#data-entry > div {
  width: 70%;
  height: 40%;
  border-radius: 7px;
}

#outcome > div {
  width: 70%;
  height: 40%;
  border-radius: 7px;
}

body {
  background-image: linear-gradient(to right, black, purple);
}
