#data-entry > div {
  width: 70%;
  height: 40%;
  border-radius: 7px;
}

#outcome > div {
  width: 70%;
  height: 40%;
  border-radius: 7px;
}

body {
  background-image: linear-gradient(to right, black, purple);
  position: relative;
}

div > img {
  height: 20px;
  width: 20px;
  color: black;
}

.chat {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: -515px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 6px 6px black;
  cursor: pointer;
}

.chat > img {
  height: 40px;
  width: 40px;
  margin-top: 12px;
  position: relative;
}

.banner {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  transform: translate(40px, -40px);
}
